 <div class="header" th:fragment="leftnav" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="header-slider normal-slider">
                           
                            <div class="header-slider-item">
                             <img src="" th:src="${'http://127.0.0.1:8081/img/slider-2.jpg'}"/>
                                <div class="header-slider-caption">
                                    <a class="btn" th:href="@{/productlist/Women}"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div>
                            <div class="header-slider-item">
                                 <img src="" th:src="${'http://127.0.0.1:8081/img/slider-3.jpg'}"/>
                                <div class="header-slider-caption">
                                    <a class="btn" th:href="@{/productlist/Women}"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                             <div class="header-slider-item">
                                <img src="" th:src="${'http://127.0.0.1:8081/img/slider-1.jpg'}"/>
                                <div class="header-slider-caption">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>