<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="fragments/header :: header"></div>
  <div th:replace="fragments/topnav-product-detail">
  </div>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Product Detail</li>
                </ul>
            </div>
        </div>
       
        <!-- Breadcrumb End -->
        <span th:if="${apiError == 'true'}" style="color:red"><br><br>CircuitBreak is on please wait will be back in few seconds......</span>
        <!-- Product Detail Start -->
        <th:block th:if="${error.empty}">  
		        <div class="product-detail">
		            <div class="container-fluid">
		                <div class="row">
		                    <div class="col-lg-12">
		                        <div class="product-detail-top">
		                            <div class="row align-items-center">
		                                <div class="col-md-5">
		                                    <div class="product-slider-single normal-slider">
		                                        <img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/>
		                                        <img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/>
		                                        <img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/>
		                                        <img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/>
		                                        <img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/>
		                                        <img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/>
		                                    </div>
		                                    <div class="product-slider-single-nav normal-slider">
		                                        <div class="slider-nav-img"><img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/></div>
		                                        <div class="slider-nav-img"><img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/></div>
		                                        <div class="slider-nav-img"><img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/></div>
		                                        <div class="slider-nav-img"><img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/></div>
		                                        <div class="slider-nav-img"><img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/></div>
		                                        <div class="slider-nav-img"><img src="" th:src="${'https://localhost:8080/img/' + productInfo.imageURL}"/></div>
		                                    </div>
		                                </div>
		                                <div class="col-md-7">
		                                <form id="myform" method="POST" action='#'>
		                                    <div class="product-content">
		                                        <div class="title"><h2 th:text="${productInfo.productName}"></h2></div>
		                                        <input type="hidden" id="productIdBtn" th:value="${productInfo.productId}" />
		                                        
		                                        <div class="ratting">
		                                            <i class="fa fa-star"></i>
		                                            <i class="fa fa-star"></i>
		                                            <i class="fa fa-star"></i>
		                                            <i class="fa fa-star"></i>
		                                            <i class="fa fa-star"></i>
		                                        </div>
		                                        <div id="feedback" style="color:#FF0000;"></div>
		                                        <div class="price">
		                                            <h4>Price:</h4>
		                                            <h3>$<p th:text="${productInfo.price}"></p></h3>
		                                            <input type="hidden" id="productPrice" th:value="${productInfo.price}"/>
		                                        </div>
		                                         <div class="p-size">
		                                            <h4>Quantity:</h4>
		                                            <div class="btn-group btn-group-sm">
													  <input type='button' value='-' class='qtyminus' field='quantity' />
													  <input type='text' name='quantity' id='quantity' value='1' class='qty' />
													  <input type='button' value='+' class='qtyplus' field='quantity' />
		                                       		 </div>
		                                       		 </div>
		                                        <div class="p-size">
		                                            <h4>Size:</h4>
		                                            <div class="btn-group btn-group-sm">
		                                            <input type="hidden" id="sizeInputBtn" />
		                                                <button id="${productSize}" th:onclick="changeSize('button',[[${productSize}]])" class="btn" th:each="productSize : ${productInfo.sizes}"><span th:text="${productSize}"></span></button>
		                                            </div>
		                                        </div>
		                                        <div class="p-color">
		                                            <h4>Color:</h4>
		                                            <div class="btn-group btn-group-sm">
							 							<input type="hidden" id="colorInputBtn" />
		                                                <button id="${productColor}" th:onclick="changeColor('button',[[${productColor}]])" class="btn" th:each="productColor : ${productInfo.colors}"><span th:text="${productColor}"></span></button>
		                                            </div>
		                                            </div>
		                                        <div class="action">
		                                            <a class="btn" id="submitBtn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
		                                            <a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Buy Now</a>
		                                        </div>
		                                    </div>
		                                    </form>
		                                </div>
		                            </div>
		                        </div>
		                        
		                        <div class="row product-detail-bottom">
		                            <div class="col-lg-12">
		                                <ul class="nav nav-pills nav-justified">
		                                    <li class="nav-item">
		                                        <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
		                                    </li>
		                                    <li class="nav-item">
		                                        <a class="nav-link" data-toggle="pill" href="#specification">Specification</a>
		                                    </li>
		                                    <li class="nav-item">
		                                        <a class="nav-link" data-toggle="pill" href="#reviews">Reviews (<span th:text="${productReviews.reviews.size}"/>)</a>
		                                    </li>
		                                </ul>
		
		                                <div class="tab-content">
		                                    <div id="description" class="container tab-pane active">
		                                        <h4>Product description</h4>
		                                        <p th:text="${productInfo.productDesc}"></p>
		                                    </div>
		                                    <div id="specification" class="container tab-pane fade">
		                                        <h4>Product specification</h4>
		                                        <ul>
		                                            <li>Lorem ipsum dolor sit amet</li>
		                                            <li>Lorem ipsum dolor sit amet</li>
		                                            <li>Lorem ipsum dolor sit amet</li>
		                                            <li>Lorem ipsum dolor sit amet</li>
		                                            <li>Lorem ipsum dolor sit amet</li>
		                                        </ul>
		                                    </div>
		                                    <div id="reviews" class="container tab-pane fade">
		                                        <div th:replace="productreview"></div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        
		<div th:replace="fragments/relatedproducts :: relatedproducts"></div>
		                    </div>
		                </div>
		            </div>
		        </div>
		 </th:block>
        <!-- Product Detail End -->
        
      <div th:replace="fragments/brands :: brands"></div>
        
       <div th:replace="fragments/footer :: footer"></div>
                
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
        <script type="text/javascript" th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/easing/easing.min.js}"></script>
        <script type="text/javascript" th:src="@{/lib/slick/slick.min.js}"></script>
        <!-- Template Javascript -->
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
        <script type="text/javascript" th:src="@{/js/cart.js}"></script>
        
        
</html>
