<div class="brand" th:fragment="brands" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="container-fluid">
                <div class="brand-slider">
                     <div class="brand-item"><img src="" th:src="@{https://localhost:8080/img/brand-1.png}"/></div>
                    <div class="brand-item"><img src="" th:src="@{https://localhost:8080/img/brand-2.png}"/></div>
                    <div class="brand-item"><img src="" th:src="@{https://localhost:8080/img/brand-3.png}"/></div>
                    <div class="brand-item"><img src="" th:src="@{https://localhost:8080/img/brand-4.png}"/></div>
                    <div class="brand-item"><img src="" th:src="@{https://localhost:8080/img/brand-5.png}"/></div>
                    <div class="brand-item"><img src="" th:src="@{https://localhost:8080/img/brand-6.png}"/></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->
