 <div class="col-lg-3" th:fragment="cartsummary" xmlns:th="http://www.w3.org/1999/xhtml" >
                        <div class="cart-page-inner">
                            <div class="row">
                                <div class="col-md-14">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            <h1>Cart Summary</h1>
                                            <p>Sub Total $<span th:text="${shoppingCart.orderTotal}"></span></p>
                                            <p>Shipping Cost<span>$1</span></p>
                                            <h2>Grand Total$<span th:text="${shoppingCart.orderTotal}"></span></h2>
                                        </div>
                                        <div class="cart-btn">
                                            <button>Checkout</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>