<!DOCTYPE html>
<html lang="en">
    <head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
        <meta charset="utf-8">
        <title>Kloud4academy</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

        <!-- Favicon -->
        
        <!-- Google Fonts -->
		<link rel="stylesheet" type="text/css" th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap}"/>
        
        <!-- CSS Libraries -->
         <link rel="stylesheet" type="text/css" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"/>
         <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{https://localhost:8080/lib/slick/slick.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{https://localhost:8080/lib/slick/slick-theme.css}"/>
        <!-- Template Stylesheet -->
        <link rel="stylesheet" type="text/css" th:href="@{https://localhost:8080/css/style.css}"/>
    </head>
