<div class="nav" th:fragment="topnav" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a th:href="@{/home}" class="nav-item nav-link active">Home</a>
                             <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                                <div class="dropdown-menu">
                                    <a th:href="@{Women}" class="nav-item nav-link">Women</a>
                                    <a th:href="@{Men}" class="nav-item nav-link">Men</a>
                                    <a th:href="@{Kids}" class="nav-item nav-link">Kids</a>
                                    <a th:href="@{bags}" class="nav-item nav-link">LEDTvs</a>
                                </div>
                       			</div>
                            <a th:href="${cartUrl}" class="nav-item nav-link">Cart</a>
                            <a href="checkout.html" class="nav-item nav-link">Checkout</a>
                            <a href="my-account.html" class="nav-item nav-link">My Account</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                                <div class="dropdown-menu">
                                    <a href="wishlist.html" class="dropdown-item">Wishlist</a>
                                    <a href="contact.html" class="dropdown-item">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a th:href="@{/}">
                            <img src="" th:src="@{https://localhost:8080/img/kloud4academy.jpg}" width="120"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <form th:action="@{/productlist/searchproduct}" th:object="${searchRequest}" method="post">
                        <div class="search">
                            <input type="text" name='searchString' id="searchString" placeholder="Search"/>
                            <button type="submit" ><i class="fa fa-search"></i></button>
                        </div>
                     </form>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                             <span th:if="${wishlistSize != ''}"> 
		                        <a th:href="${'/cart/viewwishlist/' + {cartId}}" class="btn wishlist">
		                                <i class="fa fa-heart"></i>
		                            		(<span th:text="${wishlistSize}"></span>)
		                            </a>
		                        </span>
		                        <span th:if="${wishlistSize == ''}"> 
		                        <a href="#" class="btn wishlist">
		                                <i class="fa fa-heart"></i>
		                            		(0)
		                            </a>
		                        </span>
                            <a  th:href="${cartUrl}" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span th:if="${cartSize != null}">
                                (<span th:text="${cartSize}"></span>)
                            	</span>
                            	<span th:if="${cartSize == null}">
                                <span>(0)</span>
                            	</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>